    .icons {
     
     position: fixed;
     top:30%;
     right:0%;
     width:250px;
     display: flex;
     flex-direction: column;
 } 
 .icons a {
    text-decoration: none; 
    padding:10px;
     font-size: 22px;
     font-family: "oswald",sans-serif;
     margin: 2px;
     border-radius: 50px 0px 0px 50px;
     transform: translate(172px,0px);
 }
 .icons a:hover{
     transform: translate(0px,0px);
 }
 

 .instagram{
    background-color: #a50a98;
     color: white;
 }
 .facebook{
     background-color: #2c80d3;
     color: white;
 }  
 .icons a i.fa-instagram{
     color:#a50a98 ;
 } 
 .icons a i.fa-facebook{
     color: #2c80d3 ;
 }
 .icons a i{
     margin: 13px;
     background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center ;
    color:black;
    line-height: 40px;
 }
 ul {
  list-style-type: none;
  
  overflow: hidden;
  background-color: rgb(20, 0, 20);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 50px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(126, 6, 173);
}
.rofl{
     color: paleturquoise;
     font-size: 500%;
 }
 .lol{
    margin-top: 18%;
   border: 2px solid plum;
   padding: 1%;
    color: beige; 
 }
 .idk{
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
  text-align: center;
}

        .centre {
            display: block;
            margin-top: 0%;
          margin-left: auto;
          margin-right: auto;
           width: 50%;  
        }
        .middle{
           text-align: center;
           background-color: black;
           color: aliceblue;
        }
.logo{
         border-radius = 50%;
}